extends layout

block content
    h1 Create Post
    form(method="post")
        label(for="headline") Headline:
        br
        input(type="text" id="headline" name="headline")
        br
        label(for="content") Content:
        br
        input(type="text" id="content" name="content")
        br
        input(type="submit" value="Send")