doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(rel='' src='/javascripts/header.js')
  body
    div(class="header")
      a(href='/' id="Home") Home
      a(href='/users' id="AllUsers") All Users
      a(href='/posts' id="AllPosts") All Posts
      a(href='/posts/create' id="CreatePost") Create post
      div(class="account")
        if data.logged
          a(href="/loggout", id="loggout") loggout
          a(href="/users/" + data.currentUsername, id="userAccount") #{data.currentUsername}
        else
          a(href="/createUser", id="createUser") new user
          a(href="/login", id="login") login
    div(class="content")
      block content