extends layout

block content
  div(class="middle")
    h1= title
    p(class="time") from #[a(href='/users/' + user) #{user}] at #{creationDate}
    pre(class="content")= postContent
    if data 
      if data.currentUsername == user 
        form(method="post")
          input(type="submit" onclick="confirm('Do you want to delete the post?')" value="delete")