body {
  font-family: 'Baloo Da 2', cursive;
}

textarea {
  resize: none;
}

/* header */
.header {
  background-color: #4287f5;
  overflow: hidden;
  margin: -10px;
}

.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.header a:hover {
  background-color: #2A62BB;
}

.header a.active {
  background-color: #123c80;
  color: white;
}

/* account */
.account {
  float: right;
}
/*Error message*/
.errMessage {
  color: red;
}
/*display stuff in the middle of the site*/
.middle {
  text-align: center;
  margin-left: 800px;
  margin-right: 800px;
}
/*post content format*/
.content {
  font-size: 20px;
  text-align: left;
}
/*time format*/
.time {
  font-size: 12px;
}